.sedaform {
    margin-top: 10px;
}

.sedaform .attributs {
    background: #eee;
    padding: 10px 10px 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 380px;
}

.sedaform .innerFieldset > legend {
    font-size: 120%;
}

.sedaform input[type="text"] {
    width: 350px;
}

.sedaform textarea {
    width: 350px;
    min-width: 350px;
    max-width: 750px;
    height: 40px;
    min-height: 20px;
    max-height: 600px;
}

.sedaform select {
    width: 364px;
}

.sedaform .sedafieldset {
    padding: 20px 20px 0 30px;
    margin-right: 0;
    min-width: 400px;
}

.sedaform fieldset.sedafieldset > legend {
    font-size: 110%;
}

.sedaform fieldset.collapsed {
    background-color: #f5f5f5;
}

.sedaform fieldset.expanded {
    background-color: transparent;
}

.sedaform .sedafield .toggleAttributes {
    position: relative;
    vertical-align: top;
    left: 5px;
    color: darkblue;
}

.sedaform .sedatemplate {
    display: none;
}

.sedaform .deleteSedaObject {
    display: none;
    top: -22px;
    left: 15px;
}

.sedaform select {
    vertical-align: baseline;
}

#sedaform-template {
    display: none;
}

.addSedaField, .removeSedaField {
    margin-bottom: 10px;
    vertical-align: top;
}

.select2-container {
    margin-bottom: 10px;
}


abbr[title], abbr[data-original-title] {
    border-bottom: 1px dotted #999;
    cursor: help;
}

label {
    margin-bottom: 5px;
}

.downloadCompleteSedaList {
    position: relative;
    left: 10px;
}
#bdxNavigation {
    border-right: 5px double #ccc;
    max-width: 50%;
}
#bdxNavigation .ui-resizable-e {
    cursor: ew-resize;
    height: 100%;
    right: 0;
    top: 0;
    width: 10px;
    z-index: 1001!important; /* Au dessus de overlay */
}
#bdxContent {
    margin-top: 0;
}
/* jGrowl (info bulles) */
div.jGrowl-message {
    font-size: 120%;
    font-weight: normal;
}
div.jGrowl div.jGrowl-notification div.jGrowl-header {
    color: #444;
    font-size: 14px;
    font-weight: bold;
}
div.jGrowl div.jGrowl-notification div.jGrowl-close{
    color: #666;
    font-size: 16px;
    font-family: "courier new", courier, typewriter, monospace;
}
div.jGrowl div.jGrowl-notification div.jGrowl-close:hover{
     color: #555;
 }